.textdisplay{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    color: #e7e7e7;
    /* background-color: #414950;
    box-shadow: -10px -10px #888888; */
    box-shadow: -10px -10px #373a3d;
}
.explanation{
    margin: 5%;
    line-height: 150%;
}
#image{
    width: 30%;
    height: 50vh;
    margin-left: 10%;
}

.newsDisplay{
    display: flex;
    justify-content: space-around;
    align-items: center;
}