.fabTop{
    float: right;
    position: sticky;
    position: -webkit-sticky;
    right: 10vh;
    padding: 1%;
    top: 0;
    z-index: 10;
    cursor: pointer;
}

.fabBottom{
    float: left;
    position: sticky;
    position: -webkit-sticky;
    left: 5%;
    padding: 1%;
    top: 0;
    z-index: 10;
    cursor: pointer
}

body::-webkit-scrollbar{
    display: none;
  }

