.gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.arrow{
    height: 30px;
    cursor: pointer;
}
body::-webkit-scrollbar{
  display: initial;
}